.heroBanner {
  text-align: center;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > *:not(:last-child) {
  margin-right: 8px;
}

.avatar {
  border: 3px solid var(--ifm-background-color);
  height: 144px;
  width: 144px;
}

.link {
  color: inherit;
  text-decoration: underline;
}

.link:hover {
  color: inherit;
}
